
div.clear {
    clear:both;
}

#top-bar {
	padding-bottom: 40px;
}

#entry-container {
	padding-top: 60px;	
	padding-left: 20px;
	padding-right: 40px;
}

#entry-container textarea {
	resize: none;
	width: 96%;
}

.inner-nav{
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}

.entry-container {
	width:100%
}

.entry-avatar {
	width: 50px;
	float:left;
	height: 100px;
}

.entry-content{
	width: 90%;
	float:right;
	word-wrap: break-word;
}

.entry {
	padding:0 10px 0 10px;
	font-size: 12px;
}

.entry .toolbar {
	padding-bottom: 10px;
}

