
div.clear {
    clear: both;
    overflow: hidden;
}

#top-bar {
	padding-bottom: 40px;
}

#submit-container {
	padding-top: 60px;	
	padding-left: 20px;
	padding-right: 40px;
}

#submit-container textarea {
	resize: none;
	width: 95%;
}

.inner-nav{
	border-bottom: 1px solid #DDD;
	margin-bottom: 20px;
}


/*** Entries ***/
.entry {
	padding:0 10px 0 10px;
	font-size: 12px;
	margin-bottom: 10px;
}

.entry-header {
	margin-bottom: 5px;
}

.entry-title {
	float:left;
}

.entry-avatar {
	float: left;
	margin-right: 10px;
}

.vote-up {
	float:right;
	width: 50px;
	font-size: 30px;
	padding-top: 7px;
	text-align: right;
}

.vote-up a {
	text-decoration: none;
}

.entry-content{
	word-wrap: break-word;
}

.entry-footer {
	width: 100%;
	border-bottom: 1px solid #EEE;
	text-align: right;
	
}


