<form id="register_form">
	<div class="well well-small">
		<legend>New Account</legend>
		<fieldset>
			<input id="username" type="text" placeholder="Username" /> 
			<input id="email" type="text" placeholder="Email" />
			<input id="password1" type="password" placeholder="Password" />
			<input id="password2" type="password" placeholder="Repeat Password" />
		</fieldset>
		<button type="submit" class="btn btn-primary">Register</button>
		<button onclick="show_loginform();" type="button" class="btn">Cancel</button>
		
	</div>
</form>