<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>fodder</title>
		<!-- Bootstrap -->
		<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="../css/base.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div id="top-bar" class="navbar navbar-static-top">
			<div class="navbar-inner">
				<a class="brand" href="#">fodder</a>
				<ul class="nav pull-right">
					<li>
						<a href="#"><i class="icon-user "></i> Facundo Olano</a>
					</li>
					<li>
						<a href="#">Logout</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">

			<div class="row-fluid">
				<div id="entry-container" class="span4">
					<form>
						<div class="well well-small">
							<legend>
								Feed Me!
							</legend>
							<fieldset class>
								<textarea rows="4" class="input-xlarge" placeholder="The food goes here."/></textarea>
								<button type="submit" class="btn pull-right">
									Submit
								</button>
							</fieldset>
						</div>
					</form>
				</div>
				<div class="span4">
					<div class="inner-nav row">
						<ul class="nav nav-pills">
							<li class="active">
								<a href="#">Hotest</a>
							</li>
							<li>
								<a href="#">Newest</a>
							</li>
							<li>
								<a href="#">Mine</a>
							</li>
							<form class="navbar-search pull-right">
								<input type="text" class="search-query" placeholder="Search">
							</form>
						</ul>
					</div>
					<div id="inner-container" class="row">
						<div class="entry">
							<strong>Facundo Olano</strong> 
							<p>
								Este es un texto relativamente largo donde uno explicaría cuestiones de la vida cotidiana o no.
								Hay quien dice que los redondos son una banda de la hostia, yo particualrmente no coincido.
							</p>
							<div class="toolbar">
								<p class="pull-right"><span class="muted">Hace 15 minutos</span><i class="icon-arrow-up"></i><i class="icon-comment"></i></p>
							</div>
							<hr/>
						</div>
						<div class="entry">
							<strong>Facundo Olano</strong> 
							<p>
								Este es un texto relativamente largo donde uno explicaría cuestiones de la vida cotidiana o no.
								Hay quien dice que los redondos son una banda de la hostia, yo particualrmente no coincido.
							</p>
							<div class="toolbar">
								<p class="pull-right"><span class="muted">Hace 15 minutos</span><i class="icon-arrow-up"></i><i class="icon-comment"></i></p>
							</div>
							<hr/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- scripts -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>